<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>

    <style>
        .box {
            background-color: purple;
            height: 200px;
            width: 200px;
        }

        [v-cloak] {
            display: none;
        }

        input{
            margin: 10px;
            display: block;
        }
    </style>

</head>



<body>
    <h1>Main page for blog</h1>

    <div id="app" v-cloak>
       
        <login-form/>

    </div>

    <script src="https://unpkg.com/vue@next"></script>

    <script>
        let app = Vue.createApp({
            data: function () {
                return {
                    greeting: 'Hello vue 3!',
                    isVisible: false
                }
            },
            methods: {
                toggleBox() {
                    this.isVisible = !this.isVisible
                },
                greet() {
                    console.log(this.greeting)
                }
            }
        })

        app.component('login-form',{
            template:`
                <form @submit.prevent="handleSubmit"> 
                    <h3>{{title}}</h3>
                    <custom-input 
                        v-for="(input ,i) in inputs"
                        :key="i"
                        v-model="input.value"
                        :label="input.label"
                        :type="input.type"
                    />
                    <input type=submit value="Log In">
                </form>
            `,
            components:[
                'custom-input'
            ],
            data(){
                return{
                    title: 'Login form',
                    inputs:[
                        {
                            label: "Email",
                            value: "",
                            type: "email"
                        },
                        {
                            label: "Password",
                            value: "",
                            type: "password"
                        },

                    ],
                }
            },
            methods:{
                handleSubmit(){
                    alert('submitted: '+this.inputs)
                }
            }
        })

        app.component('custom-input',{
            template:`
                <label>
                    {{label}}
                    <input :type="type" v-model="inputValue"/>
                </label>
            `,
            props: ['label', 'type', 'modelValue'],
            computed:{
                inputValue:{
                    get(){
                        return this.modelValue
                    },
                    set(value){
                        console.log(value)
                        this.$emit('update:modelValue', value)
                    }
                }
            }
        })

        app.mount('#app')
    </script>

</body>

</html>